<h1 class="text-center">Here is the list of your tasks</h1>
<% @tasks.each do |task| %>
<h2><%= link_to task.content, task_path(task) %></h2>
<p><%= task.status %></p>
<%= link_to "Show this task", task_path(task)%>
<%= link_to "Mark this task as done", mark_as_done_path(task), method: :patch%>
<%= link_to "Mark this task as to-do", mark_as_undone_path(task), method: :patch%>
<% end %>
